
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    border-radius: 5px;
    background: rgb(129, 87, 191);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
}

.text-primary{
    color: rgb(112, 114, 107);
}

    /* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: rgb(11, 11, 11);
}

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic{
    max-width: 700px;

}

.banner-greeting{
    font-size: 45px;
    color: rgb(55, 61, 61);
    margin-bottom: 0;
}

.banner-title{
    font-size: 25px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-content{
    width: 500px;
}

/* main section style */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}


/* About Section Style */

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: black;
    text-align: center;
    font-weight: 700;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}




/* Skill related style */

#what-i-do-description{
    padding: 50px 150px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skills{
    padding: 30px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description{
    color: rgb(27, 28, 30);
}

/* Resume style */

.resume-column-title{
    color: #181818;
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 50px;
}

.resume-item-title{
    color: #181818;
    font-size: 25px;
    font-weight: 700;
}

.resume-container hr{
    margin: 30px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}